EUREKA_DEFAULTZONE=http://eruekausername:eurekapassword@domain/eureka/

AUTH0_DOMAIN=
AUTH0_MANAGEMENT_DOMAIN=
AUTH0_MANAGEMENT_CLIENT_ID=
AUTH0_MANAGEMENT_CLIENT_SECRET=

OATUH2_ISSUER_URI=
OATUH2_AUDIENCE=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SPRING_JPA_HIBERNATE_DDL=update